@use "../../styles/partials/global" as *;

.inventory-form-page {

    &__form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
			padding-top: $space-3;
            row-gap:1.5rem;
        }
    }

    &__form-section {
        border:0;
        margin:0;
		padding: $space-3;
        display:flex;
        flex-direction: column;
        gap:$space-2;
		border-bottom: 1px solid $c-cloud;

        @include tablet {
            padding: 0 $space-3;
            border-bottom: 0;
            width:50%;
            &:not(:last-of-type) {
				border-right: 1px solid $c-cloud;
			}
        }
    }

    &__form-title {
        margin:0;
		@extend %f-sub-header;
		color: $c-instock-black;
    }

    &__form-buttons {
		display: flex;
		gap: $space-2;
        padding: $space-2 $space-3;
		background: rgba($c-light-grey, .7);

        @include tablet {
            width:100%;
            justify-content: flex-end;
			padding-inline: $space-4;
        }
    }
}