@use "../../styles/partials/global" as *;

.cta-button {
	display: block;
	width: 100%;
	height: pxToRem(36);
	border-radius: $border-radius;
	border: 1px solid transparent;
	padding: $space-1 $space-2;
	@extend %f-button;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-family: $f-titillium-family;

	&--primary {
		background: $c-instock-indigo;
		color: $c-white;
		&:hover {
			background: $c-graphite;
		}
	}
	&--secondary {
		border-color: $c-cloud;
		background: $c-white;
		color: $c-slate;
		&:hover {
			border-color: $c-instock-indigo;
			color: $c-instock-indigo;
		}
	}
	&--delete {
		background: $c-red;
		color: $c-white;
		&:hover {
			background: $c-graphite;
		}
	}

	@include tablet {
		width: auto;
		height: pxToRem(38);
		flex-shrink: 0;
	}
}