@use "../../styles/partials/global" as *;

.page-header {
	display: flex;
	align-items: center;
	gap: $space-1;
	border-bottom: 1px solid $c-cloud;
	padding: $space-4 $space-3 $space-3;
	color: $c-instock-black;
	&__text {
		order: 0;
		margin: 0;
		@extend %f-page-header;
	}
	&__back-btn {
		order: -1;
		color: $c-instock-indigo;
	}

	@include tablet {
		padding: $space-4 $space-4 $space-3;
	}

	@include desktop {
		padding: $space-4 $space-5 $space-3;
	}
}