@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/breakpoints' as *;
@use "../../styles/partials/functions" as *;

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: $c-graphite;
    width: 100%;
    padding-inline: $margin-mobile;
    @include content-width-clamp;

    @include tablet {
        height: pxToRem(92);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        height: pxToRem(28);
        margin-inline: auto;
        margin-top: $space-3;

        @include tablet {
            margin: 0;
        }
    }

    &__list {
        display: flex;
        gap: $space-2;
        padding: 0;
    }

    &__list-item {
        list-style-type: none;
        flex: 1;
        text-align: center;
    }

    &__link {
        display: block;
        width: 100%;
        text-decoration: none;
        color:$c-cloud;
        padding: $space-1 $space-2;
        border-radius: $border-radius;

        &:hover {
            text-decoration: underline;
            color:$c-white;
        }

        &--active {
            color:$c-white;
            background-color: $c-instock-black;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}






